/*
@media only screen and (max-device-width: 600px) {
    #body {
        -ms-text-size-adjust: 300%;
        padding: 0 15px;
    }
}

@media only screen and (orientation:landscape) {
    #body {
        -ms-text-size-adjust: 180%;
        padding: 0 15px;
    }
}
*/

#body {
    margin: 0;
    padding: 0 15px;
    width: 100%;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    width: calc(100% - 30px);
}

.infobox {
    box-sizing: border-box;
    border: 1px solid #ad081c;
    background: #ffcccc url(/thumbdown.svg) no-repeat 5px 6px;
    background-size: 35px 35px;
    padding: 10px;
    padding-left: 50px;
}

a {
    color: #e4002b;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

hr {
    margin: 40px 0;
    padding: 0;
    height: 1px;
    border: 0;
    background: #a0a0a0;
}

.footer {
    font-size: 80%;
    margin: 40px 0;
    max-width: 900px;
}

h1 {
    color: #e4002b;
    font-size: 150%;
    font-weight: normal;
    margin-bottom: 3px;
    margin-top: 1em;
    white-space: nowrap;
}

h1:first-child {
    margin-top: -4px;
    margin-bottom: 7px;
}

h1.emoji:before {
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline;
    content: "";
    padding-right: 1.5em;
    margin-right: 0.4em;
}

#panel-picker-menu li.emoji:before {
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline;
    content: "";
    padding-right: 1.5em;
    margin-right: 0.4em;
}

.emoji.monkey:before {padding-right: 5.1em !important /*padding-right: 4.3em*/}

h1#panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 3px 0 3px 15px;
    background: white;
}

#panel-bottom {
    display: block;
    content: "";
    height: 15px;
    width: 100%;
    position: fixed;
    left: 0;
    margin: 3px 0 0 0;
    background: linear-gradient(to bottom, rgba(225, 225, 225, 1) 0%, rgba(255,255,255,0) 100%);
}

#panel-picker {
    text-align: center;
    background: none;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;

    font-size: 166%;
    font-weight: normal;
    color: #e4002b;
    background: white;
    cursor: pointer;
}

#panel-picker-menu {
    position: fixed;
    right: 0;
    background: white;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: -5px 5px 5px 0px rgba(240,240,240,1);
}

#panel-picker-menu li {
    padding: 7px 15px;
    margin: 0;
    cursor: pointer;
}

#panel-picker-menu li:hover {
    color: #e4002b;
}

.retrieved {
    font-size: 60%;
    margin-top: 0;
    color: #a0a0a0;
}

.note {
    font-weight: bold;
    font-size: 80%;
    margin: 0.2rem 0 0.5rem 0;
}

h2 {
    margin: 0.3em 0 0 0;
    font-size: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;

    padding-bottom: 0.2rem;
    margin-bottom: 0.2rem;
    border-bottom: 1px solid #eee;
}

li .number {
    font-weight: bold;
}

li .quantity {
    color: #a0a0a0;
}

li .name {

}

li .hellip {
    font-weight: bold;
}

li .price {
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    h1:first-child {
        margin-top: 1em;
    }

    h1#panel {
        display: none !important;
    }

    .retrieved {
        visibility: visible;
    }
}



.help {
    font-size: 60%;
}


li .price-zamestnanec {
}

li .price-externi-stravnik {
    color: #a0a0a0;
    font-weight: normal;
}

.error-details {
    font-size: 60%;
    color: #a0a0a0;
}